@font-face {
    font-family: "Linotype Didot Roman Oldstyle Figures";
        src: url("../fonts/52830d10c9b5e2ef26909a2ab8d39a67.eot"); /* IE9*/
        src: url("../fonts/52830d10c9b5e2ef26909a2ab8d39a67.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/52830d10c9b5e2ef26909a2ab8d39a67.woff2") format("woff2"), /* chrome、firefox */
        url("../fonts/52830d10c9b5e2ef26909a2ab8d39a67.woff") format("woff"), /* chrome、firefox */
        url("../fonts/52830d10c9b5e2ef26909a2ab8d39a67.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("../fonts/52830d10c9b5e2ef26909a2ab8d39a67.svg#Linotype Didot Roman Oldstyle Figures") format("svg"); /* iOS 4.1- */
}

body {
    background: #eef1ea;
  
}

h1 {
    font-family: "Linotype Didot Roman Oldstyle Figures", Georgia, sans-serif;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 100px;
    margin: 50px 0 15px 0;
}

.social-media {
    text-align: center;
    font-size: 48px;
    z-index: 9;
    display:block;
    position: relative;
}

    .social-media a {
        text-decoration: none;
        margin-left: 35px;
        color:black;
        z-index: 9;
        position: relative;
    }

        .social-media a:first-child {
            margin-left: 0;
            z-index: 9;
        }

        .social-media a:hover {
            color: lightblue;
            z-index: 9;
   
        }

        .social-media a:focus {
            color:lightblue;
            z-index: 9;
    
        }

        .transparent {
            zoom: 1;
            filter: alpha(opacity=50);
            opacity: 0.5;
        }

#image-container {
    position: absolute; bottom: 0; left: 0; right: 0;
    font-size: 0;
    text-align: center;
    z-index: 1;

}

    #image-container img {
        width: auto; 
        height: calc(100vh);
        z-index: 1;
    }

@media only screen
and (max-height: 720px)
{

    h1 {
        font-size: 80px;
        z-index: 9;
        position: relative;
    }

    .social-media {
        font-size: 36px;
        z-index: 9;
        display:block;
        position: relative;
    }

}

@media only screen
and (max-height: 600px)
{

    h1 {
        margin-top: 20px;
        z-index: 9;
        position: relative;
    }

}

@media only screen
and (max-width: 440px)
{

    h1 {
        font-size: 50px;
        z-index: 9;
        position: relative;
    }

    .social-media {
        font-size: 28px;
        z-index: 9;
        display:block;
        position: relative;
    }

}